@media (max-width: 512px) {
    html {
        font-size: 85%;
    }

}

@media (min-width: 768px) {
    .rwd-break {
        display: none;
    }

}


@media (min-width: 1024px) {
    .container-fluid {
        max-width: 70%;
    }
}